.translate {
    color: $secondary__color;

    .inner-translate {
        display: flex;
        flex-wrap: wrap;
        padding: $space__component $space__gutter--mobile;

        @media screen and (min-width: $size-site-md) {                
            padding: $space__component*2 $space__gutter--mobile;
        }

        .column-half {
            width: 100%;

            @media screen and (min-width: $size-site-md) {
                width: 50%;
            }
        }

        .translate-heading {

            &::before {
                content: url(/images/section-translate/Language.png);
                display: block;
            }

            font-weight: 600;
            font-size: 36px;
            line-height: 50px;
            margin-bottom: 0;
        }

        .translate-description {
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: $space__component;
        }

        .image {
            img {
                position: relative;

                &:nth-child(2) {
                    top: -120px;
                    right:-150px;                    
                }

                &:last-child {
                    top: -60px;
                    right:-150px;                    
                }
            }            

        }
    }
}
